<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.NetCoreSdk" version="1.9.3.1" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="Serilog" version="2.10.1-dev-01343" targetFramework="net472" />
</packages>